@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rental Showcase</h1>
    <p class="lead">
        Rental Showcase is a web application designed in ASP.NET's framework for learning purposes.
        This Application simulates a movie rental system with two user levels: guest and manager. Managers can
        add and delete customers and movies from the application's database while guests can only view customers and movies,
        but may request a rental via the new rental page.

    </p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Github</h2>
        <p>
            Check out my github account!
        </p>
        <p><a class="btn btn-default" href="https://github.com/wilso663">Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>LinkedIn</h2>
        <p>See my LinkedIn and connect with me!</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/wilso663">Click here &raquo;</a></p>
    </div>
    
</div>